/* Block Bannière */

.homePage .blockBanner {
    height: 100vh;
}

.homePage .blockBanner .wp-block-image img {
    border-radius: 50%;
    border: 2px solid white;
    padding: 5px;
}

.homePage .blockBanner .wp-block-cover__inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homePage .blockBanner h1 {
    font-size: 5rem;
    border-bottom: 2px solid white;
    padding-bottom: 40px;
}

.homePage .blockBanner h2 {
    font-size: 3rem;
    margin: 0;
}

/* Block Skills */

.homePage .blockSkills {
    margin: 30px 0;
}

.homePage .blockSkills .wp-block-group__inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homePage .blockSkills h2 {
    font-size: 2.5rem;
    border-bottom: 3px solid black;
    padding-bottom: 10px;
}

/* Block Exp Pro */

.homePage .blockWorkExperiences {
    display: flex;
    justify-content: center;
    background-color: #D4D4D4;
}

.homePage .blockWorkExperiences .wp-block-group__inner-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homePage .blockWorkExperiences h2 {
    width: 30%;
    font-size: 2.5rem;
    border-bottom: 3px solid black;
    padding-bottom: 10px;
}

.homePage .blockWorkExperiences .wp-block-columns {
    width: 100%;
    display: flex;
    justify-content: center;
}

.homePage .blockWorkExperiences .wp-block-column {
    width: 40% !important;
    flex-grow: unset !important;
    flex-basis: unset !important;
}

.homePage .blockWorkExperiences .wp-block-column p em {
    font-style: normal;
    color: #3180F1;
}

/* block Education */

.homePage .blockEducation {
    display: flex;
    justify-content: center;
}

.homePage .blockEducation .wp-block-group__inner-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homePage .blockEducation h2 {
    width: 20%;
    font-size: 2.5rem;
    border-bottom: 3px solid black;
    padding-bottom: 10px;
}

.homePage .blockEducation .wp-block-column p em {
    font-style: normal;
    color: #3180F1;
}

/* Block Exp Projects */

.homePage .blockProjects {
    display: flex;
    justify-content: center;
    background-color: #D4D4D4;
}

.homePage .blockProjects .wp-block-group__inner-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homePage .blockProjects h2 {
    width: 20%;
    font-size: 2.5rem;
    border-bottom: 3px solid black;
    padding-bottom: 10px;
}