.contentMenu {
    position: relative;
}

.contentMenu .fa-bars {
    display: none;
}

.contentMenu .fa-times {
    display: none;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    z-index: 98;
    background-color: #5F5F5F;
    padding: 15px 0;
    margin: 0;
}

.menuMobile {
    display: none;
}

.menu .item .link {
    text-decoration: none;
    color: white;
    transition: all 250ms;
    font-size: 1.2rem;
}

.menu .item .link:hover {
    color: #3180F1;
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
        height: 100vh;
        padding: 50px 0;
    }

    .menuMobile {
        height: 100vh;
        padding: 50px 0;
        list-style-type: none;
        justify-content: space-around;
        position: fixed;
        width: 100%;
        z-index: 98;
        background-color: #5F5F5F;
        margin: 0;
    }

    .menuMobile .itemMobile {
        border-bottom: 2px solid white;
        padding: 10px 5px;
    }

    .menuMobile .itemMobile i {
        margin-right: 10px;
        color: white;
        font-size: 25px;
        width: 30px;
        text-align: center;
    }

    .menuMobile .itemMobile .linkMobile {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
    }

    .contentMenu .fa-bars {
        font-size: 50px;
        display: block;
        position: fixed;
        z-index: 99;
        top: 0;
        left: 5px;
    }

    .contentMenu .fa-times {
        font-size: 50px;
        position: fixed;
        z-index: 99;
        top: 0;
        left: 5px;
        color: white;
    }
}